html{
    font-family: "Poppins", sans-serif;
}

body{
    background: linear-gradient(to right, #14213d, #000000);
}

#my__zing-mp3{
    width: 480px;
}

#header{
    position: fixed;
    width: 480px;
    padding: 12px 0 0 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__title{
    font-size: 1.2rem;
    color: #ec326d;
    font-weight: 600;
}

.header__name-music{
    font-size: 1.8rem;
    color: #222;
    font-weight: bold;
}

#slider{
    padding-top: 70px;
}

.slider__img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    vertical-align: bottom;
    transform-origin: top;
}

.slider__img.scale-top{
    animation: scaleTop 1s linear;
}

@keyframes scaleTop{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0);
    }
}

.control__icon{
    margin: 30px 30px 0 30px;
    font-size: 2rem;
}

.fa-play{
    color: #fff;
    background: #ec1f55;
    font-size: 3rem;
    padding: 16px 18px;
    border-radius: 50%;
}

.control__button{
    padding: 12px 20px;
}

input[name=control]{
    width: 100%;
    outline: none;
    height: 6px;
    background: #d3d3d3;
    appearance: none;
}

input[name=control]::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 6px;
    background: #ec326d;
    cursor: pointer;
}

li{
    background: #fff;
    padding: 12px;   
    margin-top: 12px;
    border-radius: 5px;
}

.content__song{
    flex-wrap: nowrap !important;
}

.content__img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.content__item{
    margin: 0 12px;
}

.content__item:last-child{
    flex: 1;
    text-align: right;
    color: #999;
    font-size: 2.3rem;
}

.content__singer{
    color: #ccc;
    font-size: 1.3rem;
}