@media (max-width: 600px) {
    #my__zing-mp3{
        width: 100%;
        padding: 0 30px;
    }

    .web__header{
        width: 100%;
        left: 0;    
        padding: 0 30px;
    }
}